# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Secrets & Keys
*.enc
keys/
keys.tmp.enc

# Local WORM directories
worm-storage/
worm-dev/
worm-staging/
worm-prod/

# Test artifacts
*.test
*.out
*.prof
coverage*

# IDE
.idea/
.vscode/
*.swp
